<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>app-1-643865345235-ios-76194a057fc7c8afc12826</string>
			</array>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>external-accessory</string>
		<string>fetch</string>
		<string>location</string>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>maroon</string>
		<key>UIImageName</key>
		<string>Logo</string>
		<key>UIImageRespectsSafeAreaInsets</key>
		<true/>
		<key>UINavigationBar</key>
		<dict>
			<key>UIImageName</key>
			<string></string>
		</dict>
		<key>UILaunchScreen</key>
		<dict/>
	</dict>
</dict>
</plist>
